<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ahorcado Bomba</title>
  <link rel="stylesheet" href="../static/css/ahorcado.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pixelify+Sans&family=Tiny5&display=swap" rel="stylesheet">


</head>
<body>

  <div class="contenedor">

    <h1>Bomb-Word</h1>

    <div class="bomba">
      <img id="imagenBomba" src="/static/img/bomba0.png">
    </div>

    <div class="palabra" id="palabra"></div>

    <div class="teclado" id="teclado"></div>

    <div class="mensaje" id="mensaje"></div>

    <button class="reiniciar" id="reiniciar">
      PLAY AGAIN
    </button>

  </div>

  <script src="../static/js/ahorcado.js"></script>

</body>
</html>