*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Tiny5", sans-serif;
}

body{
    background:
        radial-gradient(
            circle at top,
            #1B5C89 0%,
            #1B425F 30%,
            #122A3F 70%,
            #0B1422 100%
        );

    color:white;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow-x:hidden;
}

.contenedor{

    width:90%;
    max-width:1000px;

    text-align:center;

    padding:40px;

    background:rgba(255,255,255,0.03);

    border:2px solid rgba(136,195,231,0.2);

    border-radius:25px;


    backdrop-filter:blur(3px);
}

/* TITULO */

h1{

    margin-bottom:20px;

    font-size:4rem;

    color:#F2F8FD;

    text-shadow:
        4px 4px 0 #2073A9,
        8px 8px 0 #1B425F;
}

/* IMAGEN DE LA BOMBA */

.bomba{

    margin:20px auto;

    width:450px;
    height:450px;

    border-radius:20px;

}

.bomba img{

    width:100%;
    height:100%;

    object-fit:contain;
}

/* PALABRA */

.palabra{

    display:flex;

    justify-content:center;

    gap:12px;

    margin:35px 0;

    flex-wrap:wrap;
}

.letra{

    width:50px;
    height:60px;

    border-bottom:5px solid #88C3E7;

    color:#F2F8FD;

    font-size:2rem;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* TECLADO */

.teclado{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:10px;

    margin-top:25px;
}

.teclado button{

    width:52px;
    height:52px;

    border:none;

    border-radius:6px;

    background:#2073A9;

    color:white;

    font-size:1.1rem;

    cursor:pointer;

    transition:0.2s;

    box-shadow:
        0 4px 0 #1B425F;
}

.teclado button:hover{

    background:#55AADB;

    transform:translateY(-2px);
}

.teclado button:active{

    transform:translateY(2px);

    box-shadow:
        0 2px 0 #1B425F;
}

.teclado button:disabled{

    background:#1B425F;

    color:#7CA6C4;

    box-shadow:none;

    transform:none;

    cursor:not-allowed;
}

/* MENSAJE */

.mensaje{

    margin-top:25px;

    font-size:2rem;

    color:#88C3E7;
}

/* BOTON REINICIAR */

.reiniciar{

    margin-top:25px;

    padding:14px 28px;

    border:none;

    border-radius:4px;

    background:#55AADB;

    color:white;

    font-size:1.2rem;

    cursor:pointer;

    display:none;

    box-shadow:
        0 5px 0 #2073A9;

    transition:0.2s;
}

.reiniciar:hover{

    background:#88C3E7;
}

.reiniciar:active{

    transform:translateY(3px);

    box-shadow:
        0 2px 0 #2073A9;
}

/* RESPONSIVE */

@media (max-width:768px){

    h1{
        font-size:2.8rem;
    }

    .bomba{
        width:300px;
        height:300px;
    }

    .letra{
        width:40px;
        height:50px;
        font-size:1.5rem;
    }

    .teclado button{
        width:42px;
        height:42px;
    }
}