*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Merriweather", serif;
}

body{
    display:flex;
    background:#F2F8FD;
    min-height:100vh;
}

/* SIDEBAR */
.sidebar{
    width:240px;
    background-color: #55aadb;

    color:white;
    padding:25px;

    display:flex;
    flex-direction:column;
    gap:12px;

    flex-shrink:0;

    box-shadow:4px 0 20px rgba(0,0,0,.08);
}

.sidebar h2{
    text-align:center;
    margin-bottom:20px;
    font-size:28px;
}

.sidebar a{
    text-decoration:none;
    color:white;
    padding:14px;
    border-radius:14px;
    transition:.3s;
}

.sidebar a:hover{
    background:rgba(255,255,255,.15);
    transform:translateX(5px);
}

/* CONTENIDO */
.content{
    flex:1;
    padding:35px;
    overflow-y:auto;
}

.title{
    color:#1B425F;
    margin-bottom:25px;
    font-size:2rem;
}

/* BUSCADOR */
.search-bar{
    width:100%;
    padding:16px 20px;

    border:none;
    border-radius:16px;

    font-size:18px;
    background:white;

    box-shadow:
        0 5px 20px rgba(32,115,169,.12);

    margin-bottom:30px;

    transition:.3s;
}

.search-bar:focus{
    box-shadow:
        0 0 0 4px rgba(136,195,231,.35),
        0 5px 20px rgba(32,115,169,.12);
}

/* TARJETAS */
.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:10px;
}

.card{
    background:white;

    min-height:180px;

    border-radius:24px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;

    font-size:22px;
    font-weight:bold;

    color:#1B425F;

    cursor:pointer;

    transition:.3s;

    border:1px solid #D9EAF6;

    box-shadow:
        0 8px 25px rgba(32,115,169,.08);
}

.card:hover{
    transform:translateY(-8px);

    background-color: #7796ff;

    border: 1px #5771fd solid;

    color:#edf4ff;

    box-shadow:
        0 15px 35px rgba(47,144,200,.25);
}

/* MODAL */

.modal {

    position: fixed;

    inset: 0;

    background:
        rgba(15,23,42,0.65);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 999;
}

.modal-content {

    width: 90%;
    max-width: 1100px;

    min-height: 500px;

    background: white;

    border-radius: 30px;

    display: flex;

    overflow: hidden;

    position: relative;
}

.modal-left {

    width: 40%;

    background: #c2d6ff;
    border: 3px #9dbbff solid;

    color: #11143b;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 60px;
}

.modal-left h1 {

    font-size: 50px;

    margin-bottom: 20px;
}

.modal-left p {

    font-size: 28px;
}

.modal-right {

    flex: 1;

    padding: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-right h2 {

    color: #11143b;

    font-size: 38px;

    margin-bottom: 20px;
}

.modal-right p {

    color: #475569;

    line-height: 1.8;

    font-size: 20px;
}

.close-modal {

    position: absolute;

    top: 20px;
    right: 30px;

    font-size: 42px;

    cursor: pointer;

    color: #64748b;
}