<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>SkillWords Dictionary</title>

    <link rel="stylesheet"href="../static/css/dictionary.css" >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">

</head>

<body>

    <!-- SIDEBAR -->

    <div class="sidebar">

        <h2>
            Categories
        </h2>

        <a href="#" onclick="filterCategory('all')">
            All Words
        </a>

        <a href="#" onclick="filterCategory('roles_and_tools')">
            Roles & Tools
        </a>

        <a href="#" onclick="filterCategory('planning_analysis')">
            Planning & Analysis
        </a>

        <a href="#" onclick="filterCategory('development_coding')">
            Development & Coding
        </a>

        <a href="#" onclick="filterCategory('testing_qa')">
            Testing & QA
        </a>

        <a href="#" onclick="filterCategory('sql')">
            MySQL
        </a>

        <a href="#" onclick="filterCategory('python')">
            Python
        </a>

        <a href="#" onclick="filterCategory('javascript')">
            JavaScript
        </a>

        <a href="#" onclick="filterCategory('php')">
            PHP
        </a>

        <a href="#" onclick="filterCategory('multilenguaje')">
            Multilanguage
        </a>

    </div>

    <!-- CONTENT -->

    <div class="content">

        <h1 class="title">
            Vocabulary Words
        </h1>

        <input
            type="text"
            id="searchInput"
            placeholder="Search word..."
            onkeyup="filterCards()"
            class="search-bar"
        >

        <select
            id="sortSelect"
            onchange="filterCards()"
            class="search-bar"
        >

            <option value="none">
                Sort
            </option>

            <option value="asc">
                A → Z
            </option>

            <option value="desc">
                Z → A
            </option>

        </select>

        <div
            class="cards"
            id="cards-container"
        ></div>

    </div>

    <!-- MODAL -->

    <div
        class="modal"
        id="popup"
    >

        <div class="modal-content">

            <span
                class="close-modal"
                onclick="closePopup()"
            >
                ×
            </span>

            <div class="modal-left">

                <h1 id="popup-word"></h1>

                <p id="popup-translation"></p>

            </div>

            <div class="modal-right">

                <h2>
                    Definition
                </h2>

                <p id="popup-description"></p>

            </div>

        </div>

    </div>

    <script src="../static/js/dictionary.js"></script>

</body>

</html>
